@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    *{
        @apply font-body;
        @apply text-graycustom;
        @apply font-normal;
    }
}


@layer components {
    .nav-link {
        @apply text-xl;
        @apply text-graycustom;
    }

    .circle {
        height: 1.25rem;
        width: 1.25rem;
        margin-bottom: -0.75rem;
        background-color: rgb(236, 236, 236);
        border: solid 2px rgb(142, 21, 21);
        border-radius: 9999px;
    }
    
}

header {
    background: linear-gradient(rgba(236, 236, 236, 1), rgba(236, 236, 236, 0.4)),  url(../media/mountains2.png), url(../media/switzerland-862870_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



